<!DOCTYPE html>
<html>
    <head>
            <link href="/angular-material/angular-material.css" rel="stylesheet"/>
            <linkh ref="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous"/>
    </head>
<body ng-app="matrixApp" ng-controller="reportController">

    <h1>My First Heading 2</h1>

    <p>My first paragraph.</p>

    <script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js'></script>
    <script src='/scripts/angular-animate/angular-animate.js'></script>
    <script src='/scripts/angular-aria/angular-aria.js'></script>   
    <script src="/angular-material/angular-material.js"></script>
    <script type='text/javascript' src="/public/app/app.js"></script>
    <script type='text/javascript' src="/public/app/controllers/reportController.js"></script>
</body>
</html>